Client/GM_MMO/Library/*
Client/GM_MMO/Temp/
Client/GM_MMO/Logs/AssetImportWorker0.log
Client/GM_MMO/Logs/shadercompiler-AssetImportWorker0.log
Client/GM_MMO/Logs/shadercompiler-UnityShaderCompiler.exe0.log
Client/GM_MMO/Logs/shadercompiler-UnityShaderCompiler.exe1.log
Client/GM_MMO/Logs/shadercompiler-UnityShaderCompiler.exe2.log
Client/GM_MMO/Logs/shadercompiler-UnityShaderCompiler.exe3.log
Client/GM_MMO/Logs/shadercompiler-UnityShaderCompiler.exe4.log
Client/GM_MMO/ProjectSettings/EditorBuildSettings.asset
Client/GM_MMO/.vs/
Client/GM_MMO/Client.sln
Client/GM_MMO/Logs/ApiUpdaterCheck.txt
Client/GM_MMO/Logs/
Client/GM_MMO/obj/
Client/GM_MMO/Assembly-CSharp.csproj
Client/GM_MMO/Assembly-CSharp-Editor.csproj
Client/GM_MMO/Assembly-CSharp-firstpass.csproj
Client/GM_MMO/Assets/StreamingAssets/
Client/GM_MMO/AndroidProject/.gradle/
Client/GM_MMO/AndroidProject/.idea/
Client/GM_MMO/AndroidProject/launcher/build/
Client/GM_MMO/AndroidProject/unityLibrary/
Client/GM_MMO/spine-unity.csproj
Client/GM_MMO/spine-unity-editor.csproj
Client/GM_MMO/UserSettings/EditorUserSettings.asset
.idea/
Client/GM_MMO/AndroidProject/local.properties
Client/GM_MMO/Assets/Bundles/Special/ResourcesManifest.txt
Client/GM_MMO/AndroidProject/ourpalmSDK/build/
Client/GM_MMO/AndroidProject/cityofcrime/build/
Client/GM_MMO/AndroidProject/build/
Client/GM_MMO/BestHTTP.csproj
Client/GM_MMO/.vscode/launch.json
Client/GM_MMO/Google.Android.AppBundle.Editor.csproj
Client/GM_MMO/Google.Play.Common.csproj
Client/GM_MMO/Google.Play.Core.csproj
Client/GM_MMO/Google.Play.Review.csproj
Client/GM_MMO/NavMeshComponents.csproj
Client/GM_MMO/NavMeshComponentsEditor.csproj
Client/GM_MMO/Build/
Client/GM_MMO/Assembly-CSharp-Editor-firstpass.csproj
Client/GM_MMO/nameTranslation.txt
*.csproj
Client/Assets/Scripts/Utils/xmlParser/ConfigGenerate*
